.main-menu {
  position: relative;
  transition: all, ease-in-out, 300;

  &__item {
    text-decoration: none;
    height: 100%;
    transition: all .5s ease-out;
  }

  @include media-breakpoint-up(lg) {
    &__item:hover {
      box-shadow: 0px 2px 0px 0px #111;
    }
  }

  @include media-breakpoint-down(lg) {
    &__item {
      width: 80%;
    }

    &__content {
      z-index: 20;
      position: absolute;
      background-color: white;
      top: 100%;
      flex-direction: column;
      height: auto;
      border-radius: 0 0 1rem 1rem;
      padding-left: 0;
      padding-bottom: 1rem;
      transition: all linear .3s;
      transform: scaleX(0);
      transform-origin: left;
      width: 100%;

      &.show {
        transform: scaleX(1);
      }
    }
  }
}

.router-link-active {
  box-shadow: 0px 2px 0px 0px #111;
}


@include media-breakpoint-down(lg) {
  .router-link-active {
    border-bottom: 1px solid #111;
  }
}