.bg-image {
    background-position: center;
    background-size: cover;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
    }

    span {
        color: #fff;
        position: relative
    }
}

.bg-image-card{
    background-position: center;
    background-size: cover;
    background-image: var(--image);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &__flex{
        width: 25%;
        height: 50%;
    }
}