.swiper {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 150px;
        top: 0;
        left: 0;
        z-index: 10;
        background: linear-gradient(to right, white, transparent 50%);
    }

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 150px;
        top: 0;
        right: 0;
        z-index: 10;
        background: linear-gradient(to left, white, transparent 50%);
    }

    &__progress {
        height: 650px;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }
}



[class*="fa-angle"] {
    position: absolute;
    top: 50%;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba($color: white, $alpha: 0.8);
    border-radius: 50%;
    color: rgba($color: #000000, $alpha: 0.5);
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease-in-out;

    &:hover {
        color: rgba($color: #000000, $alpha: 1.0);
        background-color: rgba($color: white, $alpha: 1.0);
    }

    &[class*='left'] {
        z-index: 15;
        left: 1rem;
        transform: translateY(-50%);
    }

    &[class*='right'] {
        z-index: 15;
        right: 1rem;
        transform: translateY(-50%);
    }

    @include media-breakpoint-up(lg) {

        &[class*='left'] {
            left: 3.5rem;
            transform: translateY(-50%) translateX(-100%);
        }

        &[class*='right'] {
            right: 3.5rem;
            transform: translateY(-50%) translateX(100%);
        }
    }

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75px;
    border-radius: 5px;
    cursor: pointer;

    &.swiper-slide-active,
    &:hover {
        &>div {
            background: $primary;

            &::before {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    &__progress {
        height: 100%;
        background: var(--image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0px;
    }
}

.swiper-container__progress{
    position: relative;
    width: 100px;
    height: 50px;
}



.swiper-pagination__progress {
    bottom: 0;
    top: auto;
    color: $primary;
}